In [466]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

In [467]:
df1 = pd.read_excel('Amazon Inc.xlsx',sheet_name='Profit & loss account',header=None)

df2 = pd.read_excel('Amazon Inc.xlsx',sheet_name='Balance sheet',header=None)

df3 = pd.read_excel('Amazon Inc.xlsx',sheet_name='Cash flow statement',header=None)

df4 = pd.read_excel('Amazon Inc.xlsx',sheet_name='Global ratios',header=None)

In [468]:
result = pd.DataFrame(index=pd.to_datetime(df1.iloc[4,:].dropna()).dt.year)
result

Empty DataFrame
Columns: []
Index: [2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011, 2010]

In [469]:
a = df2[df2.iloc[:,0] == 'Current assets'].index
b = df2[df2.iloc[:,0] == 'Current liabilities'].index

c =df2.iloc[a,1:].astype(int).values/df2.iloc[b,1:].astype(int).values

result['Working Capital Ratio'] = c.T

In [470]:
d = df4[df4.iloc[:,0] == ' ∟ ROE using Net income (%)'].index
e = df4.iloc[d,1:].astype(float).values

result['ROE (Net Income)'] = e.T

In [471]:
f = df1[df1.iloc[:,0] == ' ∟ EBITDA'].index
g = df1.iloc[f,1:].astype(float).values

result['EBITDA'] = g.T

In [472]:
d = df4[df4.iloc[:,0] == ' ∟ Profit margin (%)'].index
e = df4.iloc[d,1:].astype(float).values

result['Profit Margin'] = e.T

In [476]:
f = df1[df1.iloc[:,0] == ' ∟ Operating revenue (Turnover)'].index
g = df1.iloc[f,1:].astype(float).values

result['Operating Revenue'] = g.T

In [477]:
Revenue Growth Rate

SyntaxError: invalid syntax (<ipython-input-477-0cf815c98066>, line 1)

In [481]:
result

,Working Capital Ratio,ROE (Net Income),EBITDA,Profit Margin,Operating Revenue
4,,,,,
2019,1.097048,18.672,30256000.0,4.982,280522000.0
2018,1.098112,23.130,25034000.0,4.835,232887000.0
2017,1.039977,10.946,13272000.0,2.140,177866000.0
2016,1.044847,12.295,10873000.0,2.862,135987000.0
2015,1.053649,4.453,7361000.0,1.465,107006000.0
2014,1.115276,-2.244,3959000.0,-0.125,88988000.0
2013,1.071584,2.811,3413000.0,0.680,74452000.0
2012,1.120724,-0.476,2539000.0,0.890,61093000.0
2011,1.174141,8.135,2011000.0,1.943,48077000.0
2010,1.325395,16.783,2063000.0,4.377,34204000.0

In [483]:
(result.iloc[0,4] - result.iloc[1,4]) /result.iloc[1,4]

0.2045412582067698

In [558]:
x=[0.0]
m=np.float(0)

In [559]:
for i in range(0,len(result.index)-1):
    m = ((result.iloc[i,4] - result.iloc[i+1,4]) /result.iloc[i+1,4]).astype(float)
    x.append(m)

In [562]:
se = pd.Series(x)

In [563]:
result['Revenue Growth Rate'] = se.values

In [564]:
result

,Working Capital Ratio,ROE (Net Income),EBITDA,Profit Margin,Operating Revenue,Revenue Growth Rate
4,,,,,,
2019,1.097048,18.672,30256000.0,4.982,280522000.0,0.000000
2018,1.098112,23.130,25034000.0,4.835,232887000.0,0.204541
2017,1.039977,10.946,13272000.0,2.140,177866000.0,0.309340
2016,1.044847,12.295,10873000.0,2.862,135987000.0,0.307963
2015,1.053649,4.453,7361000.0,1.465,107006000.0,0.270835
2014,1.115276,-2.244,3959000.0,-0.125,88988000.0,0.202477
2013,1.071584,2.811,3413000.0,0.680,74452000.0,0.195240
2012,1.120724,-0.476,2539000.0,0.890,61093000.0,0.218667
2011,1.174141,8.135,2011000.0,1.943,48077000.0,0.270732
2010,1.325395,16.783,2063000.0,4.377,34204000.0,0.405596

In [566]:
xl_file=pd.ExcelWriter("Amazon R.xlsx")
result.to_excel(xl_file,index=False)
xl_file.save()